/* Estilo básico para a tela de cadastro */
body {
    background-image: url('/Assets/images/white-cubes-3d-background.jpg');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    height: auto;
    box-sizing: border-box;
}

h2 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8rem;
    font-weight: 600;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
}

input, select {
    width: 94.5%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out;
}

select {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out;
}


input:focus, select:focus {
    border-color: #111027;
    outline: none;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
}

/* Estilo do botão de envio */
button {
    font-weight: 600;
    width: 100%;
    padding: 12px;
    background-color: #2c3e50;
    color: white;
    border: 1px solid transparent;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #3498db;
    color: #fff;
}

button:active {
    background-color: #2c3e50;
    border-color: #2c3e50;
}


.cadastroForm {
    margin-top: 40px;
}
